<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div class="landing-wrapper">
        <img src="../static/img/logo.svg" alt="logo" class="logo">

        <h1 class="landing-title">Добро пожаловать</h1>
        <p class="landing-subtitle">Выберите способ авторизации</p>

        <div class="landing-buttons">
            <a href="/login" class="btn btn-primary">Вход</a>
            <a href="/register" class="btn btn-secondary">Регистрация</a>
        </div>
    </div>
    <script src="/static/api/script.js"></script>
</body>
</html>